<div class="movie-grid">
  <div class="row">

    {{#each movies}}
      <div class="col-md-4 col-lg-3 item">
        <div class="box" style="background-image:url(http://localhost:3000/static/img/movies/{{image_name}}">
          <div class="cover">
            <h3 class="name">{{name}}</h3>
            <p class="genre">
              {{#each genre}}
                {{ this }}
              {{/each}}
            </p>
            <div class="movie-url">
              <a href="/bird-box">
                <button type="button" class="btn">Filme git</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    {{/each}}

  </div>

  <nav>
    <ul class="pagination justify-content-center mt-3">
      {{#each pages_number}}
        <li class="page-item"><a class="page-link" href="/movies/{{ this }}">{{ this }}</a></li>
      {{/each}}
    </ul>
  </nav>
</div>