<div class="movie-grid">
  <div class="row">
    {{#each movies}}
      <div class="col-md-4 col-lg-3 item">
        <div class="box" style="background-image:url(http://localhost:3000/static/img/movies/{{image_name}}">
          <div class="cover">
            <h3 class="name">{{name}}</h3>
            <p class="genre">
              {{#each genre}}
                {{ this }}
              {{/each}}
            </p>
            <div class="movie-url">
              <button type="submit" class="btn btn-secondary" data-toggle="modal" name="select_movie" value="{{_id}}" data-target="#exampleModal">Filme git</button>
            </div>
          </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{name}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      </div>
    {{/each}}
  </div>
 <div class="row justify-content-center">
    <nav>
      <ul class="pagination">
        {{#each pages_number}}
        <li class="page-item"><a class="page-link" href="/movies/{{ this }}">{{ this }}</a></li>
        {{/each}}
      </ul>
    </nav>
  </div>
</div>