<div class="movie-grid">
  <div class="intro">
    <h2 class="text-center">Herkese açık onaylanacak filmler</h2>
  </div>
  <div class="row">
    {{#each movies}}
    <div class="col-md-4 col-lg-3 item">
      <div class="box" style="background-image:url(http://localhost:3001/static/img/movies/{{image_name}}">
        <div class="cover">
          <h3 class="name">{{ name }}</h3>
          <p class="genre">
            {{#each genre}}
            {{ this }}
            {{/each}}
          </p>
          <form method="POST">
            <div class="movie-url">
              <button class="btn btn-danger" name="public_true" value="{{_id}}" type="submit">Yayınla</button>
              <button class="btn btn-info" type="submit">Düzenle</button>
              <button class="btn btn-primary" name="public_false" type="submit" value="{{_id}}">Kaldır</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="row justify-content-center">
    <nav>
      <ul class="pagination">
        {{#each pages_number}}
        <li class="page-item"><a class="page-link" href="/check/{{ this }}">{{ this }}</a></li>
        {{/each}}
      </ul>
    </nav>
  </div>
</div>